<p>
    <!DOCTYPE html>
<html>
<head>
	<center><title>Lenguajes de programaci&oacute;n m&aacute;s usados seg&uacute;n el tipo de desarrollo</title></center>
</head>
<body>
    <center><h1 class="entry-title">Lenguajes de programaci&oacute;n m&aacute;s usados seg&uacute;n el tipo de desarrollo</h1></center>

    <p></p>
<center><p><span>El mundo IT est&aacute; en constante evoluci&oacute;n y una buena muestra de ello son la continua aparici&oacute;n de lenguajes de programaci&oacute;n. Pero, &iquest;sabes cu&aacute;les son&nbsp;</span><b>los lenguajes de programaci&oacute;n m&aacute;s usados</b><span>&nbsp;en 2019?&nbsp;</span></p>
<p><span>Bien porque quieres aumentar conocimientos o bien porque vas a iniciar un nuevo proyecto, conocer los lenguajes de programaci&oacute;n actuales te ser&aacute; de utilidad. Hay varios indicadores que pueden ayudarnos a averiguarlo. Vamos a verlo.</span></p></center>
<p><span></span></p>
<center><h2><span>&iquest;C&oacute;mo saber cu&aacute;les son los lenguajes de programaci&oacute;n m&aacute;s usados?</span></h2></center>

<center><p><span>Uno de los m&aacute;s conocidos es el&nbsp;Indice TIOBE</span><span>, que se elabora combinando el n&uacute;mero de p&aacute;ginas web dedicadas a un lenguaje, el n&uacute;mero de b&uacute;squedas en diferentes buscadores, cantidad de profesionales certificados&hellip;&nbsp;</span></p>
<p><span>Sin embargo, al contar&nbsp;</span><b>el n&uacute;mero de p&aacute;ginas dedicadas a un lenguaje</b><span>, el &iacute;ndice TIOBE puede no reflejar el inter&eacute;s y uso real en la actualidad.&nbsp;</span></p></center>
<center><p><span>En cambio, el Indice PYPL</span><span>&nbsp;(Popularity of Programming Language Index) analiza la frecuencia con la que se buscan tutoriales para&nbsp;</span><b>aprender un lenguaje de programaci&oacute;n</b><span>.&nbsp;</span></p></center>
<center><p><span>As&iacute;, supone que a m&aacute;s b&uacute;squedas, m&aacute;s popular es el lenguaje de programaci&oacute;n. Seg&uacute;n el &Iacute;ndice PYPL,&nbsp;</span><b>los 10 lenguajes de programaci&oacute;n m&aacute;s usados en todo el mundo</b><span>&nbsp;son los siguientes.</span></p></center>



<p><span>1. Python
Python es uno de los lenguajes de programación más usados actualmente y la tendencia sigue al alza. Lo tiene todo: es de código abierto, una sintaxis sencilla y fácil de entender, por lo que ahorra tiempo y recursos. Es uno de los mejores para iniciarse en el mundo de la programación.</span></p>




<p><span>2. Java
Java es un lenguaje de programación de propósito general, orientado a objetos y diseñado para tener las dependencias de implementación mínimas posibles. Con este lenguaje de programación se pueden crear aplicaciones y procesos en múltiples dispositivos.
Su ámbito de aplicación es amplísimo, por lo que permite crear software para dispositivos móviles, terminales de venta, cajeros automáticos, IoT (internet de las cosas), además de páginas web.  

</span></p>



<p><span>3. JavaScript
JavaScript es un lenguaje de programación interpretado, orientado a objetos y que se utiliza principalmente en la forma del lado del cliente.
Este lenguaje de programación sirve para todo: aplicaciones web, servidores, aplicaciones móviles… Su peculiaridad es que no necesita compilación ninguna, ya que es el propio navegador quién lee el código y realiza las acciones que le indica. Por este motivo, es uno de los lenguajes para crear páginas web cuando se quieren plantear elementos interactivos o más visuales.
	
</span></p>


<p><span>4. C#
C# es un lenguaje que sigue apareciendo en los listados de lenguajes de programación más usados. Creado por Microsoft, está presente en entornos empresariales, como instituciones gubernamentales, entidades bancarias o médicas.
Aunque más allá de este tipo de aplicaciones, tiene también usos muy versátiles: internet de las cosas, desarrollo de videojuegos, web o aplicaciones móviles. Para el desarrollo web, puedes utilizar el framework ASP.NET o la herramienta Xamarin para desarrollar aplicaciones nativas para Android e iOS.
	
</span></p>


<p><span>
	5. PHP
PHP es un lenguaje de programación de propósito general de código del lado del servidor. Este lenguaje garantiza una buena comunicación entre web y servidor, por lo que las páginas web desarrolladas con este lenguaje son estables y con buen rendimiento. 
Actualmente, muchas páginas web están diseñadas con WordPress, que trabaja con PHP. Por ello, este lenguaje te permitirá desarrollar tanto proyectos como plugins para esta plataforma.
	
</span></p>


<p><span>
6. C/C++
C++ es un lenguaje de programación surgido como extensión del lenguaje C para que pudiese manipular objetos.  Ambos lenguajes de programación siguen siendo utilizados en la actualidad en bases de datos, navegadores web, compiladores o videojuegos.
	
</span></p>


<p><span>
	7. R
R es un lenguaje de programación enfocado al análisis estadístico. Se trata de uno de los lenguajes de programación más utilizados en investigación científica, aunque también tiene aplicaciones al machine learning, minería de datos, investigación biomédica o matemáticas financieras.

	
</span></p>


<p><span>
	8. Objective-C
Objective-C es un lenguaje de programación basado en C, pero añadiéndole capacidades de programación orientada a objetos. Se trata de un lenguaje dirigido a crear aplicaciones en iOS y macOS.
	
</span></p>



<p><span>
	9. Swift
Este lenguaje de programación se mantiene dentro del TOP 10 de los más usados. Creado por Apple, está enfocado al desarrollo de aplicaciones para iOS y macOS.
	
</span></p>


<p><span>
	10. Matlab
Matlab es la abreviatura de Matrix Laboratory, laboratorio de matrices, y es un sistema de cómputo numérico que ofrece un IDE (Entorno de Desarrollo Integrado) con lenguaje de programación propio (M). 
	
</span></p>









<p></p>
</body>
</html>
</p>
